resources/Paper/DB.png filter=lfs diff=lfs merge=lfs -text
ui/src/res/img/Diggie.png filter=lfs diff=lfs merge=lfs -text
resources/out/Square[[:space:]]Logo@0.5x.png filter=lfs diff=lfs merge=lfs -text
resources/out/Logo[[:space:]]Mit[[:space:]]Schrift.png filter=lfs diff=lfs merge=lfs -text
resources/out/Logo[[:space:]]Mit[[:space:]]Schrift@2x.png filter=lfs diff=lfs merge=lfs -text
resources/out/Logo@0.5x.png filter=lfs diff=lfs merge=lfs -text
resources/out/Logo[[:space:]]Mit[[:space:]]Schrift@3x.png filter=lfs diff=lfs merge=lfs -text
resources/out/background.png filter=lfs diff=lfs merge=lfs -text
resources/Paper/Use.png filter=lfs diff=lfs merge=lfs -text
resources/Paper/Entschuldigungszettel.png filter=lfs diff=lfs merge=lfs -text
resources/Paper/Logo.png filter=lfs diff=lfs merge=lfs -text
resources/out/Logo@2x.png filter=lfs diff=lfs merge=lfs -text
resources/out/Logo.png filter=lfs diff=lfs merge=lfs -text
resources/out/Logo[[:space:]]Artboard.png filter=lfs diff=lfs merge=lfs -text
resources/Paper/Activity.png filter=lfs diff=lfs merge=lfs -text
resources/out/Logo[[:space:]]Mit[[:space:]]Schrift@0.5x.png filter=lfs diff=lfs merge=lfs -text
resources/out/Square[[:space:]]Logo.png filter=lfs diff=lfs merge=lfs -text
resources/Paper/Screenshot-entries.png filter=lfs diff=lfs merge=lfs -text
resources/out/Logo[[:space:]]mit[[:space:]]Schrift[[:space:]]Artboard.png filter=lfs diff=lfs merge=lfs -text
