---
layout: layout
---

<st

<!-- Header -->
<header id="header" class="ex-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>
          <%= t(:thanks)[:title] %>
        </h1>
        <hr />
        <h4>
          <%= t(:thanks)[:body] %>
        </h4>

        <br>
        <br>

        <a
          class="btn-outline-reg"
          style="color:white; border-color: white;"
          href="/"
        >
          <%= t(:thanks)[:back] %>
        </a>

        
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</header>



<div class="thanks-spacer"></div>